html {
    background-color: #1B3C53;
    font-family: Inter;
    color: #F9F3EF;
}

.header {
    background-color: #456882;
    border: 10px solid #456882;
    border-top: 20px;
    padding-top: 1px;
    text-align: center;
}

.content {
    text-align: center;
    color: #D2C1B6;
}

.base-text {
    color: #D2C1B6;
}